{% extends "alarme/base.html" %}
{% block content %}
<div class="container my-5">
    {% if user.first_connexion %}
        <h3>Vous êtes prié de modifier votre mot de passe à la première connexion</h3>
    {% endif %}
    {% if error %}
        <h3> {{ error }} </h3>
    {% endif %}

    <form action="{% url 'account:modif_password' %}" method="post">
        {% csrf_token %}
        <table class="text-left">{{ form.as_table }}</table>
        <button class="btn btn-secondary my-3" type="submit">Enregistrer</button>
    </form>
</div>
{% endblock content %}