{% extends "alarme/base.html" %}
{% block content %}
<div class="container mx-auto" style="width: 500px;">
    <div class="row">
        <div class="col">
            <h3>Mot de passe oublié</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="{% url 'account:retrieve_password'%}" method="post">
                {% csrf_token %}
                <table class="text-left">{{ form.as_table }}</table>
                {% if error %}
                    <p class="text-left font-weight-light font-italic">{{error}}</p>
                {% endif %}
                <button class="btn btn-secondary my-3 float-left" type="submit">Renvoi des informations de connexion</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}